body {
    display: flex;
    background-color: #24282F;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

header {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 7vh;
    position: sticky;
    top: 100%;
    background-color: #3C3E44;

    img {
        width: 29.07vw;
        padding-left: 2.33vw;
        filter: brightness(1.1);
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    div {
        display: flex;
        justify-content: space-around;
        padding: 0 0 0 9.30vw;
        width: 53.4884vw;
    }
    span {
        color: #11B0C8;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 4.19vw;
    }

    span:hover {
        cursor: pointer;
    }
}

#image-container {
    width: 100%;
    margin: -15.13vw auto;
    position: relative;
    overflow: hidden;
}
  
#main-img {
    width: 153.5%;
    height: auto;
    display: block;
    position: relative;
    margin: -9% -21.1% 0 -21.1%;
    opacity: 0.4;
}

h1 {
    font-size: 15vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    position: absolute;
    padding-top: 29vw;
}

#character-list {
    z-index: 1;
    margin-top: 4vw;
    height: auto;
    width: 82vw;
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 114vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #3C3E44;
    border-radius: 6vw;
    margin-bottom: 7vw;
    overflow: hidden;


    img {
        height: 81.8vw;
    }

    h2 {
        width: 87%;
        margin: 2.3vw 0 0 0;
        color: #FFFFFF;
        font-size: 10vw;
    }

    p {
        font-size: 3.3vw;
        color: #11B0C8;
    }

    .icon-location {
        margin-right: 1.65vw;
        width: 3.96vw;
        height: auto;
        filter: invert(100%);
    }

    .text-container {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .alive-container {
        display: flex;
        align-items: center;
    }

    .location-container {
        display: flex;
        align-items: center;
    }
}

.status-circle {
    display: inline-block;
    width: 3.96vw;
    height: 3.96vw;
    border-radius: 50%;
    margin-right: 1.65vw;
}

.alive { background-color: #16E21E; }
.dead { background-color: #FF0000; }
.unknown { background-color: #FFFFFF; }

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 5.82vw;
    background-color: #11B0C8;
    color: #FFFFFF;
    width: 82vw;
    height: 15.82vw;
    margin-bottom: 25.59vw;
    border-radius: 6vw;
    border: 0;
}

button:hover {
    cursor: pointer;
}

@media (min-width: 993px) {
    header {
        z-index: 2;
        display: flex;
        justify-content: center;
        width: 99.1vw;
        height: 4.0625vw;
        top: 0;
    
        img {
            width: 8.3333vw;
            padding-right: 43vw;
            padding-left: 0;
        }
        nav {
            width: 100vw;
        }
    
        div {
            width: 20vw;
        }
        span {
            font-size: 1.09375vw;
        }
    }
      
    #main-img {
        width: 100%;
        margin: 5.4% 0 -6% 0;
    }

    h1 {
        font-size: 5.3646vw;
        padding-top: 15vw;
        width: 75vw;
    }

    #character-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 7.5vw;
        width: 74.5vw;
    }

    .character {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23.2292vw;
        height: 31.0417vw;
        font-family: 'Montserrat', sans-serif;
        background-color: #3C3E44;
        border-radius: 1vw;
        margin-bottom: 4vw;
        overflow: hidden;
    
    
        img {
            height:  23.2292vw;
            width:  23.2292vw;
        }
    
        h2 {
            width: 87%;
            margin: 1.1vw 0 0 0;
            color: #FFFFFF;
            font-size: 2.2396vw;
        }
    
        p {
            font-size: 0.9375vw;
            color: #11B0C8;
        }
    
        .icon-location {
            margin-right: 0.5vw;
            width: 0.9896vw;
            height: auto;
            filter: invert(100%);
        }
    
        .text-container {
            margin: -0.3vw;
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .status-circle {
        display: inline-block;
        width: 0.9896vw;
        height: 0.9896vw;
        border-radius: 50%;
        margin-right: 0.5vw;
    }

    button {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3021vw;
        background-color: #11B0C8;
        color: #FFFFFF;
        width: 19.375vw;
        height: 3.4896vw;
        margin-bottom: 6vw;
        border-radius: 1.3021vw;
        border: 0;
    }
}